[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pandas = "*"
"ruamel.yaml" = "*"
anytree = "*"
humanfriendly = "*"

[dev-packages]

[requires]
python_version = "3.10"
