/*
 * Copyright (c) 2020 Xilinx Inc. All rights reserved.
 *
 * Author:
 *       Appana Durga Kedareswara Rao <appanad.durga.rao@xilinx.com>
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/dts-v1/;

/ {
        compatible = "system-device-tree-v1";
        lops {
                // compatible = "system-device-tree-v1,lop";
                lop_2 {
                        // modify to "nothing", is a remove operation
                        compatible = "system-device-tree-v1,lop,modify";
                        modify = "/cpus_microblaze@1::";
                };
                lop_3 {
                        // modify to "nothing", is a remove operation
                        compatible = "system-device-tree-v1,lop,modify";
                        modify = "/cpus_microblaze@2::";
                };
                lop_4 {
                        // modify to "nothing", is a remove operation
                        compatible = "system-device-tree-v1,lop,modify";
                        modify = "/amba_rpu::";
                };
                lop_5 {
                      compatible = "system-device-tree-v1,lop,select-v1";
                      // clear any old selections
                      select_1;
                      select_3 = "/.*:status:.*okay.*";
                      select_4 = "/.*:device_type:.*memory.*";
                };
                lop_6 {
                        // modify to "nothing", is a remove operation
                        compatible = "system-device-tree-v1,lop,modify";
                        modify = "/memory@fffc0000::";
                };
                lop_9 {
			compatible = "system-device-tree-v1,lop,code-v1";
			code = "
                        n = node.tree['/amba']
                        for i in n.subnodes():
                            if i.propval('xlnx,ipi-bitmask') != [''] and i.propval('xlnx,ipi-bitmask') != ['']  and i.parent.propval('compatible') == []:
                                tree.delete(i)

                        n = node.tree['/amba/i2c@ff020000']
                        for i in n.subnodes():
                            if i != n:
                                tree.delete(i)
                        ";

                };
                lop_10 {
                        compatible = "system-device-tree-v1,lop,modify";
                        modify = "/amba/psv_r5_tcm@0000::";
                };
                lop_11 {
                        compatible = "system-device-tree-v1,lop,modify";
                        modify = "/amba/psv_r5_tcm@20000::";
                };
                lop_12 {
                        compatible = "system-device-tree-v1,lop,modify";
                        modify = "/amba/psv_r5_tcm@00000::";
                };
        };
};
