/ {
	amba_pl: amba_pl {
		ranges;
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		firmware-name = "project_1.bit.bin";
		misc_clk_2: misc_clk_2 {
			compatible = "fixed-clock";
			clock-frequency = <149985000>;
			#clock-cells = <0>;
		};
		misc_clk_1: misc_clk_1 {
			compatible = "fixed-clock";
			clock-frequency = <299970000>;
			#clock-cells = <0>;
		};
		misc_clk_0: misc_clk_0 {
			compatible = "fixed-clock";
			clock-frequency = <74992500>;
			#clock-cells = <0>;
		};
		misc_clk_3: misc_clk_3 {
			compatible = "fixed-clock";
			clock-frequency = <99990000>;
			#clock-cells = <0>;
		};
		misc_clk_4: misc_clk_4 {
			compatible = "fixed-clock";
			clock-frequency = <199980000>;
			#clock-cells = <0>;
		};
		misc_clk_5: misc_clk_5 {
			compatible = "fixed-clock";
			clock-frequency = <399960000>;
			#clock-cells = <0>;
		};
		misc_clk_6: misc_clk_6 {
			compatible = "fixed-clock";
			clock-frequency = <599940000>;
			#clock-cells = <0>;
		};
		axi_vip_0: axi_vip@0 {
			xlnx,axi-has-cache = <1>;
			xlnx,has-user-bits-per-byte = <0>;
			xlnx,rable = <0>;
			xlnx,has-prot = <1>;
			xlnx,ip-name = "axi_vip";
			xlnx,has-aclken = <0>;
			xlnx,axi-has-burst = <1>;
			xlnx,axi-rdata-width = <32>;
			xlnx,axi-has-lock = <1>;
			xlnx,has-wstrb = <1>;
			xlnx,has-qos = <1>;
			xlnx,has-size = <0>;
			xlnx,axi-buser-width = <0>;
			xlnx,aruser-width = <0>;
			xlnx,data-width = <32>;
			xlnx,axi-has-aresetn = <1>;
			compatible = "xlnx,axi-vip-1.1";
			xlnx,axi-has-wstrb = <1>;
			xlnx,axi-awuser-width = <0>;
			xlnx,axi-rid-width = <0>;
			xlnx,axi-has-prot = <1>;
			xlnx,has-bresp = <1>;
			xlnx,buser-width = <0>;
			xlnx,axi-wid-width = <0>;
			xlnx,axi-interface-mode = <0>;
			xlnx,has-aresetn = <1>;
			xlnx,axi-has-bresp = <1>;
			xlnx,axi-ruser-width = <0>;
			xlnx,axi-wdata-width = <32>;
			status = "okay";
			xlnx,axi-has-qos = <1>;
			xlnx,awuser-width = <0>;
			xlnx,ruser-bits-per-byte = <0>;
			xlnx,has-rresp = <1>;
			xlnx,supports-narrow = <1>;
			xlnx,ruser-width = <0>;
			xlnx,read-write-mode = "READ_WRITE";
			xlnx,axi-addr-width = <32>;
			xlnx,addr-width = <32>;
			clocks = <&misc_clk_1>;
			xlnx,id-width = <0>;
			xlnx,axi-has-rresp = <1>;
			xlnx,edk-iptype = "PERIPHERAL";
			clock-names = "aclk";
			xlnx,axi-wuser-width = <0>;
			xlnx,protocol = "AXI4";
			xlnx,vip-pkg-name = <0>;
			xlnx,wuser-bits-per-byte = <0>;
			xlnx,has-lock = <1>;
			xlnx,wuser-width = <0>;
			xlnx,interface-mode = "MASTER";
			xlnx,axi-has-region = <1>;
			xlnx,axi-supports-narrow = <1>;
			xlnx,has-cache = <1>;
			xlnx,has-region = <1>;
			xlnx,axi-aruser-width = <0>;
			xlnx,axi-protocol = <0>;
			xlnx,has-burst = <1>;
		};
		axi_vip_1: axi_vip@1 {
			xlnx,axi-has-cache = <1>;
			xlnx,has-user-bits-per-byte = <0>;
			xlnx,rable = <0>;
			xlnx,has-prot = <1>;
			xlnx,ip-name = "axi_vip";
			xlnx,has-aclken = <0>;
			xlnx,axi-has-burst = <1>;
			xlnx,axi-rdata-width = <32>;
			xlnx,axi-has-lock = <1>;
			xlnx,has-wstrb = <1>;
			xlnx,has-qos = <1>;
			xlnx,has-size = <0>;
			xlnx,axi-buser-width = <0>;
			xlnx,aruser-width = <0>;
			xlnx,data-width = <32>;
			xlnx,axi-has-aresetn = <1>;
			compatible = "xlnx,axi-vip-1.1";
			xlnx,axi-has-wstrb = <1>;
			xlnx,axi-awuser-width = <0>;
			xlnx,axi-rid-width = <0>;
			xlnx,axi-has-prot = <1>;
			xlnx,has-bresp = <1>;
			xlnx,buser-width = <0>;
			xlnx,axi-wid-width = <0>;
			xlnx,axi-interface-mode = <0>;
			xlnx,has-aresetn = <1>;
			xlnx,axi-has-bresp = <1>;
			xlnx,axi-ruser-width = <0>;
			xlnx,axi-wdata-width = <32>;
			status = "okay";
			xlnx,axi-has-qos = <1>;
			xlnx,awuser-width = <0>;
			xlnx,ruser-bits-per-byte = <0>;
			xlnx,has-rresp = <1>;
			xlnx,supports-narrow = <1>;
			xlnx,ruser-width = <0>;
			xlnx,read-write-mode = "READ_WRITE";
			xlnx,axi-addr-width = <32>;
			xlnx,addr-width = <32>;
			clocks = <&misc_clk_1>;
			xlnx,id-width = <0>;
			xlnx,axi-has-rresp = <1>;
			xlnx,edk-iptype = "PERIPHERAL";
			clock-names = "aclk";
			xlnx,axi-wuser-width = <0>;
			xlnx,protocol = "AXI4";
			xlnx,vip-pkg-name = <0>;
			xlnx,wuser-bits-per-byte = <0>;
			xlnx,has-lock = <1>;
			xlnx,wuser-width = <0>;
			xlnx,interface-mode = "MASTER";
			xlnx,axi-has-region = <1>;
			xlnx,axi-supports-narrow = <1>;
			xlnx,has-cache = <1>;
			xlnx,has-region = <1>;
			xlnx,axi-aruser-width = <0>;
			xlnx,axi-protocol = <0>;
			xlnx,has-burst = <1>;
		};
		clk_wiz_0: clk_wiz@0 {
			xlnx,reset-type = "ACTIVE_LOW";
			xlnx,pll-clkout1-divide = <1>;
			xlnx,clk-out1-port = "clk_out1";
			xlnx,clkout2-phase = <0>;
			xlnx,clk-out2-use-fine-ps-gui;
			xlnx,clkout3-jitter = <0x7482e78>;
			xlnx,clk-out4-use-fine-ps-gui;
			xlnx,clkout3-drives = "BUFG";
			xlnx,clk-out6-use-fine-ps-gui;
			xlnx,use-min-o-jitter = <0>;
			xlnx,c-component-name = "project_1_clk_wiz_0_0";
			xlnx,clkout4-phase-error = <0x5325e38>;
			xlnx,clkout5-1 = <0000>;
			xlnx,clkout5-2 = <0000>;
			xlnx,clkout5-out-freq = <0xbeb73e0>;
			xlnx,d-max = <93>;
			xlnx,clkout1-phase = <0>;
			xlnx,divide6-auto = <0x5b8d8>;
			xlnx,clkout1-jitter = <0x6698678>;
			xlnx,clkfb-in-n-port = "clkfb_in_n";
			xlnx,clkout2-requested-out-freq = <300>;
			xlnx,use-locked = <1>;
			xlnx,pll-clkout5-duty-cycle = <0x7a120>;
			xlnx,mmcm-clkout3-use-fine-ps;
			xlnx,clkout1-drives = "BUFG";
			xlnx,input-clk-stopped-port = "input_clk_stopped";
			xlnx,clkout4-duty-cycle = <50>;
			xlnx,divide3-auto = <2>;
			xlnx,use-dyn-reconfig = <0>;
			xlnx,clkout3-actual-freq = <0x5f5b9f0>;
			xlnx,clkout6-requested-duty-cycle = <50>;
			xlnx,diff-clk-in1-board-interface = "Custom";
			xlnx,mmcm-clkout0-duty-cycle = <0x7a120>;
			xlnx,clkin2-jitter-ps = <100>;
			xlnx,clkout2-1 = <0000>;
			xlnx,in-freq-units = "Units_MHz";
			xlnx,clkout2-2 = <0000>;
			xlnx,feedback-source = "FDBK_AUTO";
			xlnx,clkout5-requested-out-freq = <200>;
			xlnx,prim-in-freq = <0x5f5b9f0>;
			xlnx,mmcm-clkout5-divide = <3>;
			xlnx,clkout3-phase-error = <0x5325e38>;
			xlnx,clk-in2-board-interface = "Custom";
			xlnx,clkin1-ui-jitter = <0x2710>;
			xlnx,use-inclk-switchover = <0>;
			clock-names = "clk_in1";
			xlnx,clkout5-duty-cycle = <50>;
			xlnx,use-clkout4-bar = <0>;
			xlnx,mmcm-clkout1-duty-cycle = <0x7a120>;
			xlnx,mmcm-clkout2-use-fine-ps;
			xlnx,clkout2-out-freq = <0x11e12dd0>;
			xlnx,use-dyn-phase-shift = <0>;
			xlnx,mmcm-clkout3-divide = <12>;
			xlnx,clkout2-actual-freq = <0x4784b74>;
			xlnx,clock-mgr-type = "NA";
			xlnx,o-min = <1>;
			xlnx,daddr-port = "daddr";
			xlnx,precision = <1>;
			xlnx,mmcm-ref-jitter1 = <0x2710>;
			clock-output-names = "-clk_out1 -clk_out2 -clk_out3 -clk_out4 -clk_out5 -clk_out6 -clk_out7";
			xlnx,mmcm-ref-jitter2 = <0x2710>;
			xlnx,pll-notes = "No , notes";
			xlnx,use-phase-alignment = <0>;
			xlnx,ref-clk-freq = <100>;
			xlnx,pllbufgcediv;
			xlnx,clkout7-requested-duty-cycle = <50>;
			xlnx,inclk-sum-row0 = "Input , Clock , Freq , (MHz) , Input , Jitter , (UI)";
			xlnx,inclk-sum-row1 = "__primary__________99.990____________0.010";
			xlnx,use-fast-simulation = <0>;
			xlnx,inclk-sum-row2 = "no_secondary_input_clock";
			xlnx,mmcm-clkout1-divide = <4>;
			xlnx,din-port = "din";
			xlnx,reset-board-interface = "Custom";
			xlnx,clkout6-duty-cycle = <50>;
			xlnx,clkout2-phase-error = <0x5325e38>;
			xlnx,clkout1-requested-duty-cycle = <50>;
			xlnx,vco-max = <1600>;
			xlnx,use-freq-synth = <1>;
			xlnx,primtype-sel = "AUTO";
			xlnx,mmcm-clkout2-duty-cycle = <0x7a120>;
			xlnx,clkout5-used = <1>;
			xlnx,d-min = <1>;
			xlnx,pll-clkfbout-mult = <1>;
			xlnx,mmcm-clkout4-cascade;
			xlnx,use-clkout1-bar = <0>;
			xlnx,clk-out6-port = "clk_out6";
			xlnx,clkout2-sequence-number = <1>;
			xlnx,clk-valid-port = "CLK_VALID";
			xlnx,clkout2-used = <1>;
			xlnx,clkout4-sequence-number = <1>;
			speed-grade = <2>;
			xlnx,psincdec-port = "psincdec";
			xlnx,mmcm-clkout1-use-fine-ps;
			xlnx,clk-out3-port = "clk_out3";
			xlnx,clkout6-sequence-number = <1>;
			xlnx,platform = "UNKNOWN";
			xlnx,mmcm-clkout6-phase = <0>;
			xlnx,clkout1-actual-freq = <0x11e12dd0>;
			xlnx,axi-drp;
			xlnx,pllbufgcediv1;
			xlnx,clkout6-out-freq = <0x17d6e7c0>;
			xlnx,pllbufgcediv2;
			xlnx,pllbufgcediv3;
			xlnx,mmcm-clkin2-period = <10>;
			xlnx,prim-in-jitter = <0x2710>;
			xlnx,pllbufgcediv4;
			xlnx,mmcm-clkfbout-mult-f = <12>;
			xlnx,clkout2-matched-routing;
			status = "okay";
			xlnx,clkout4-matched-routing;
			xlnx,clkout6-1 = <0000>;
			xlnx,clkout6-2 = <0000>;
			xlnx,clkout6-matched-routing;
			xlnx,clkout7-duty-cycle = <50>;
			xlnx,outclk-sum-row1 = "clk_out1__149.98500______0.000______50.0______107.579_____87.187";
			xlnx,outclk-sum-row2 = "clk_out2__299.97000______0.000______50.0_______94.872_____87.187";
			xlnx,jitter-sel = "No_Jitter";
			xlnx,outclk-sum-row3 = "clk_out3__74.99250______0.000______50.0______122.171_____87.187";
			xlnx,mmcm-clkout5-phase = <0>;
			xlnx,mmcm-clkout3-duty-cycle = <0x7a120>;
			xlnx,outclk-sum-row4 = "clk_out4__99.99000______0.000______50.0______115.843_____87.187";
			xlnx,clkfb-in-p-port = "clkfb_in_p";
			xlnx,outclk-sum-row5 = "clk_out5__199.98000______0.000______50.0______102.096_____87.187";
			xlnx,outclk-sum-row6 = "clk_out6__399.96000______0.000______50.0_______90.083_____87.187";
			xlnx,outclk-sum-row7 = "clk_out7__599.94000______0.000______50.0_______83.777_____87.187";
			xlnx,clkout1-phase-error = <0x5325e38>;
			xlnx,divide5-auto = <0xb71b0>;
			xlnx,pll-bandwidth = "OPTIMIZED";
			xlnx,psdone-port = "psdone";
			xlnx,clkout3-1 = <0000>;
			xlnx,clkout3-2 = <0000>;
			xlnx,clkout3-requested-out-freq = <75>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,pll-clkout4-divide = <1>;
			xlnx,pll-clkfbout-phase = <0>;
			xlnx,divide2-auto = <0x7a120>;
			xlnx,override-mmcm = <0>;
			xlnx,clkout6-jitter = <0x55e8eb8>;
			xlnx,ss-mode = "CENTER_HIGH";
			xlnx,mmcm-notes = "None";
			xlnx,mmcm-clkout0-use-fine-ps;
			xlnx,mmcm-clkfbout-use-fine-ps;
			xlnx,clkout6-drives = "BUFG";
			xlnx,ss-mod-period = <4000>;
			xlnx,mmcm-clkout4-phase = <0>;
			xlnx,clkout2-requested-duty-cycle = <50>;
			xlnx,clkout0-actual-freq = <0x8f096e8>;
			xlnx,divclk = <0000>;
			xlnx,primary-port = "clk_in1";
			xlnx,mmcm-compensation = "AUTO";
			xlnx,clkout6-requested-out-freq = <400>;
			xlnx,clkout0-1 = <0000>;
			xlnx,clkout0-2 = <0000>;
			xlnx,clkout2-requested-phase = <0>;
			xlnx,relative-inclk = "REL_PRIMARY";
			xlnx,pll-clkout2-divide = <1>;
			xlnx,clkout4-requested-phase = <0>;
			xlnx,enable-user-clock0 = <0>;
			xlnx,filter-1 = <0000>;
			xlnx,mmcm-clkout4-duty-cycle = <0x7a120>;
			xlnx,clkout3-out-freq = <0x4784b74>;
			xlnx,clkout4-jitter = <0x6e79fb8>;
			xlnx,clkout6-requested-phase = <0>;
			xlnx,clkoutphy-requested-freq = <600>;
			xlnx,enable-user-clock1 = <0>;
			xlnx,filter-2 = <0000>;
			xlnx,ss-mod-freq = <250>;
			xlnx,mmcm-divclk-divide = <1>;
			xlnx,enable-user-clock2 = <0>;
			xlnx,in-jitter-units = "Units_UI";
			xlnx,lock-1 = <0000>;
			xlnx,enable-user-clock3 = <0>;
			xlnx,lock-2 = <0000>;
			xlnx,clkout4-drives = "BUFG";
			xlnx,lock-3 = <0000>;
			xlnx,den-port = "den";
			xlnx,use-safe-clock-startup = <0>;
			xlnx,mmcm-clkout3-phase = <0>;
			xlnx,dwe-port = "dwe";
			xlnx,clk-out1-use-fine-ps-gui;
			xlnx,clkfb-out-n-port = "clkfb_out_n";
			xlnx,use-max-i-jitter = <0>;
			xlnx,clk-out3-use-fine-ps-gui;
			xlnx,drdy-port = "drdy";
			xlnx,clk-out5-use-fine-ps-gui;
			xlnx,vco-min = <800>;
			xlnx,pll-clkout0-divide = <1>;
			xlnx,clkin1-jitter-ps = <0x5f60810>;
			xlnx,clk-out7-use-fine-ps-gui;
			xlnx,clk-in-sel-port = "clk_in_sel";
			xlnx,use-freeze = <0>;
			xlnx,clkout2-jitter = <0x5a7a1c0>;
			xlnx,enable-pll0 = <0>;
			xlnx,enable-pll1 = <0>;
			xlnx,clkout2-drives = "BUFG";
			xlnx,use-inclk-stopped = <0>;
			xlnx,use-clkout3-bar = <0>;
			xlnx,use-clk-valid = <0>;
			xlnx,mmcm-clkout2-phase = <0>;
			compatible = "xlnx,clk-wiz-6.0" , "xlnx,clocking-wizard";
			xlnx,reset-port = "resetn";
			xlnx,mmcm-clkout5-duty-cycle = <0x7a120>;
			xlnx,mmcm-clkout0-divide-f = <8>;
			xlnx,pll-clkout0-duty-cycle = <0x7a120>;
			xlnx,diff-clk-in2-board-interface = "Custom";
			xlnx,clkout3-requested-duty-cycle = <50>;
			xlnx,use-status = <0>;
			xlnx,prim-source = "Single_ended_clock_capable_pin";
			xlnx,clkout7-used = <1>;
			xlnx,use-clkfb-stopped = <0>;
			xlnx,mmcm-clkout1-phase = <0>;
			xlnx,mmcmbufgcediv;
			xlnx,mmcm-clkout6-divide = <2>;
			xlnx,clkout7-out-freq = <0x23c25ba0>;
			xlnx,prim-in-timeperiod = <10>;
			xlnx,clkout4-used = <1>;
			xlnx,pll-clkin-period = <1>;
			xlnx,clk-out5-port = "clk_out5";
			xlnx,psclk-port = "psclk";
			xlnx,primitive = "MMCM";
			xlnx,clkout1-used;
			xlnx,reset-low = <1>;
			xlnx,clk-in1-board-interface = "Custom";
			xlnx,clk-out2-port = "clk_out2";
			xlnx,power-down-port = "power_down";
			xlnx,clkout7-phase-error = <0x5325e38>;
			xlnx,phase-duty-config;
			xlnx,mmcm-clkout6-duty-cycle = <0x7a120>;
			xlnx,mmcm-clkout4-divide = <6>;
			xlnx,mmcm-clkout0-phase = <0>;
			xlnx,mmcm-clkfbout-phase = <0>;
			xlnx,pll-clkout1-duty-cycle = <0x7a120>;
			xlnx,user-clk-freq0 = <100>;
			xlnx,user-clk-freq1 = <100>;
			xlnx,pll-clkout5-phase = <0>;
			xlnx,user-clk-freq2 = <100>;
			xlnx,secondary-in-jitter = <0x2710>;
			xlnx,user-clk-freq3 = <100>;
			xlnx,use-clock-sequencing = <0>;
			xlnx,secondary-source = "Single_ended_clock_capable_pin";
			xlnx,cddcdone-port = "cddcdone";
			xlnx,clkout7-phase = <0>;
			xlnx,psen-port = "psen";
			xlnx,mmcm-clkout6-use-fine-ps;
			xlnx,m-max = <128>;
			xlnx,dclk-port = "dclk";
			xlnx,outclk-sum-row0a = "Output , Output , Phase , Duty , Cycle , Pk-to-Pk , Phase";
			xlnx,clkout1-requested-out-freq = <150>;
			xlnx,clkout6-actual-freq = <0x23c25ba0>;
			xlnx,divide7-auto = <0x3d090>;
			xlnx,outclk-sum-row0b = "Clock , Freq , (MHz) , (degrees) , (%) , Jitter , (ps) , Error , (ps)";
			xlnx,locked-port = "locked";
			xlnx,clkout4-1 = <0000>;
			xlnx,mmcm-clkout2-divide = <16>;
			xlnx,clkin2-ui-jitter = <0x2710>;
			xlnx,clkout4-2 = <0000>;
			xlnx,enable-clock-monitor = <0>;
			xlnx,ss-mod-time = <0xfa0>;
			xlnx,auto-primitive = "MMCM";
			xlnx,divide4-auto = <0x16e360>;
			xlnx,pll-clkout4-phase = <0>;
			xlnx,use-power-down = <0>;
			xlnx,mmcm-startup-wait;
			xlnx,divide1-auto = <1>;
			xlnx,clkout4-requested-duty-cycle = <50>;
			xlnx,clkout4-requested-out-freq = <100>;
			xlnx,rable = <0>;
			xlnx,optimize-clocking-structure-en = <0>;
			xlnx,clkout4-out-freq = <0x5f5b9f0>;
			xlnx,clkout6-phase = <0>;
			xlnx,num-out-clks = <7>;
			xlnx,ip-name = "clk_wiz";
			xlnx,pll-clkout2-duty-cycle = <0x7a120>;
			xlnx,clkout1-1 = <0000>;
			xlnx,mmcmbufgcediv1;
			xlnx,clkout1-2 = <0000>;
			xlnx,mmcmbufgcediv2;
			xlnx,clkout1-duty-cycle = <50>;
			xlnx,pll-divclk-divide = <1>;
			xlnx,mmcmbufgcediv3;
			xlnx,mmcmbufgcediv4;
			xlnx,clkout6-phase-error = <0x5325e38>;
			xlnx,mmcmbufgcediv5;
			xlnx,dout-port = "dout";
			xlnx,mmcmbufgcediv6;
			xlnx,clkout1-sequence-number = <1>;
			xlnx,pll-clkout3-phase = <0>;
			xlnx,mmcmbufgcediv7;
			xlnx,cddcreq-port = "cddcreq";
			xlnx,clkout7-requested-out-freq = <600>;
			xlnx,use-spread-spectrum = <0>;
			xlnx,clkout3-sequence-number = <1>;
			xlnx,clkout5-sequence-number = <1>;
			xlnx,summary-strings = "empty";
			xlnx,pll-compensation = "SYSTEM_SYNCHRONOUS";
			xlnx,clkout5-phase = <0>;
			xlnx,clkout7-sequence-number = <1>;
			xlnx,status-port = "STATUS";
			xlnx,clkfb-out-p-port = "clkfb_out_p";
			xlnx,mmcm-clkout5-use-fine-ps;
			xlnx,clkfb-in-port = "clkfb_in";
			xlnx,clkout5-actual-freq = <0x17d6e7c0>;
			xlnx,input-mode = "frequency";
			xlnx,clkout1-matched-routing;
			xlnx,mmcm-bandwidth = "OPTIMIZED";
			xlnx,interface-selection = <0>;
			xlnx,clkout3-matched-routing;
			xlnx,calc-done = "empty";
			xlnx,use-board-flow;
			xlnx,pll-clkout2-phase = <0>;
			xlnx,clkout5-matched-routing;
			xlnx,has-cddc = <0>;
			xlnx,power-reg = <0000>;
			xlnx,mmcm-clkin1-period = <0x989a68>;
			xlnx,clkout7-matched-routing;
			xlnx,pll-clkout3-duty-cycle = <0x7a120>;
			xlnx,clkout2-duty-cycle = <50>;
			xlnx,clkout4-phase = <0>;
			xlnx,pll-clkout5-divide = <1>;
			xlnx,clkout7-jitter = <0x4fe55e8>;
			clocks = <&zynqmp_clk 71>;
			xlnx,enable-cddc;
			xlnx,clkout1-out-freq = <0x8f096e8>;
			xlnx,clkout7-drives = "BUFG";
			xlnx,clkout5-phase-error = <0x5325e38>;
			xlnx,pll-clkout1-phase = <0>;
			xlnx,clkout5-requested-duty-cycle = <50>;
			xlnx,clkfb-in-signaling = "SINGLE";
			xlnx,enable-clkoutphy = <0>;
			xlnx,use-clkout2-bar = <0>;
			xlnx,secondary-port = "clk_in2";
			xlnx,clkout3-phase = <0>;
			xlnx,pll-clkout3-divide = <1>;
			xlnx,use-reset = <1>;
			xlnx,override-pll = <0>;
			xlnx,clkoutphy-mode = "VCO";
			xlnx,mmcm-clkout4-use-fine-ps;
			xlnx,m-min = <2>;
			xlnx,clkout5-jitter = <0x615dc80>;
			xlnx,clkout6-used = <1>;
			xlnx,mmcm-clock-hold;
			xlnx,clkfb-stopped-port = "clkfb_stopped";
			xlnx,clk-out7-port = "clk_out7";
			xlnx,clkout1-requested-phase = <0>;
			xlnx,clkout4-actual-freq = <0xbeb73e0>;
			xlnx,pll-clk-feedback = "CLKFBOUT";
			xlnx,phaseshift-mode = "LATENCY";
			xlnx,clkfb-out-port = "clkfb_out";
			xlnx,clkout5-drives = "BUFG";
			xlnx,o-max = <128>;
			xlnx,clkout3-requested-phase = <0>;
			xlnx,secondary-in-timeperiod = <10>;
			xlnx,pll-clkout4-duty-cycle = <0x7a120>;
			xlnx,clkout3-used = <1>;
			xlnx,jitter-options = "UI";
			xlnx,clkout5-requested-phase = <0>;
			xlnx,pll-clkout0-phase = <0>;
			xlnx,clk-out4-port = "clk_out4";
			xlnx,clkout3-duty-cycle = <50>;
			xlnx,clkout7-requested-phase = <0>;
			xlnx,secondary-in-freq = <100>;
			xlnx,use-min-power = <0>;
			xlnx,clkfbout-1 = <0000>;
			#clock-cells = <1>;
			xlnx,pll-ref-jitter = <0x2710>;
			xlnx,clkfbout-2 = <0000>;
		};
		proc_sys_reset_0: proc_sys_reset@0 {
			compatible = "xlnx,proc-sys-reset-5.0";
			xlnx,num-perp-aresetn = <1>;
			xlnx,reset-board-interface = "Custom";
			xlnx,rable = <0>;
			xlnx,ip-name = "proc_sys_reset";
			clocks = <&misc_clk_2>;
			xlnx,num-perp-rst = <1>;
			xlnx,aux-reset-high = <0>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,ext-rst-width = <4>;
			xlnx,num-bus-rst = <1>;
			status = "okay";
			xlnx,ext-reset-high = <0>;
			clock-names = "slowest_sync_clk";
			xlnx,use-board-flow;
			xlnx,num-interconnect-aresetn = <1>;
			xlnx,aux-rst-width = <4>;
		};
		proc_sys_reset_1: proc_sys_reset@1 {
			compatible = "xlnx,proc-sys-reset-5.0";
			xlnx,num-perp-aresetn = <1>;
			xlnx,reset-board-interface = "Custom";
			xlnx,rable = <0>;
			xlnx,ip-name = "proc_sys_reset";
			clocks = <&misc_clk_1>;
			xlnx,num-perp-rst = <1>;
			xlnx,aux-reset-high = <0>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,ext-rst-width = <4>;
			xlnx,num-bus-rst = <1>;
			status = "okay";
			xlnx,ext-reset-high = <0>;
			clock-names = "slowest_sync_clk";
			xlnx,use-board-flow;
			xlnx,num-interconnect-aresetn = <1>;
			xlnx,aux-rst-width = <4>;
		};
		proc_sys_reset_2: proc_sys_reset@2 {
			compatible = "xlnx,proc-sys-reset-5.0";
			xlnx,num-perp-aresetn = <1>;
			xlnx,reset-board-interface = "Custom";
			xlnx,rable = <0>;
			xlnx,ip-name = "proc_sys_reset";
			clocks = <&misc_clk_0>;
			xlnx,num-perp-rst = <1>;
			xlnx,aux-reset-high = <0>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,ext-rst-width = <4>;
			xlnx,num-bus-rst = <1>;
			status = "okay";
			xlnx,ext-reset-high = <0>;
			clock-names = "slowest_sync_clk";
			xlnx,use-board-flow;
			xlnx,num-interconnect-aresetn = <1>;
			xlnx,aux-rst-width = <4>;
		};
		proc_sys_reset_3: proc_sys_reset@3 {
			compatible = "xlnx,proc-sys-reset-5.0";
			xlnx,num-perp-aresetn = <1>;
			xlnx,reset-board-interface = "Custom";
			xlnx,rable = <0>;
			xlnx,ip-name = "proc_sys_reset";
			clocks = <&misc_clk_3>;
			xlnx,num-perp-rst = <1>;
			xlnx,aux-reset-high = <0>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,ext-rst-width = <4>;
			xlnx,num-bus-rst = <1>;
			status = "okay";
			xlnx,ext-reset-high = <0>;
			clock-names = "slowest_sync_clk";
			xlnx,use-board-flow;
			xlnx,num-interconnect-aresetn = <1>;
			xlnx,aux-rst-width = <4>;
		};
		proc_sys_reset_4: proc_sys_reset@4 {
			compatible = "xlnx,proc-sys-reset-5.0";
			xlnx,num-perp-aresetn = <1>;
			xlnx,reset-board-interface = "Custom";
			xlnx,rable = <0>;
			xlnx,ip-name = "proc_sys_reset";
			clocks = <&misc_clk_4>;
			xlnx,num-perp-rst = <1>;
			xlnx,aux-reset-high = <0>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,ext-rst-width = <4>;
			xlnx,num-bus-rst = <1>;
			status = "okay";
			xlnx,ext-reset-high = <0>;
			clock-names = "slowest_sync_clk";
			xlnx,use-board-flow;
			xlnx,num-interconnect-aresetn = <1>;
			xlnx,aux-rst-width = <4>;
		};
		proc_sys_reset_5: proc_sys_reset@5 {
			compatible = "xlnx,proc-sys-reset-5.0";
			xlnx,num-perp-aresetn = <1>;
			xlnx,reset-board-interface = "Custom";
			xlnx,rable = <0>;
			xlnx,ip-name = "proc_sys_reset";
			clocks = <&misc_clk_5>;
			xlnx,num-perp-rst = <1>;
			xlnx,aux-reset-high = <0>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,ext-rst-width = <4>;
			xlnx,num-bus-rst = <1>;
			status = "okay";
			xlnx,ext-reset-high = <0>;
			clock-names = "slowest_sync_clk";
			xlnx,use-board-flow;
			xlnx,num-interconnect-aresetn = <1>;
			xlnx,aux-rst-width = <4>;
		};
		proc_sys_reset_6: proc_sys_reset@6 {
			compatible = "xlnx,proc-sys-reset-5.0";
			xlnx,num-perp-aresetn = <1>;
			xlnx,reset-board-interface = "Custom";
			xlnx,rable = <0>;
			xlnx,ip-name = "proc_sys_reset";
			clocks = <&misc_clk_6>;
			xlnx,num-perp-rst = <1>;
			xlnx,aux-reset-high = <0>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,ext-rst-width = <4>;
			xlnx,num-bus-rst = <1>;
			status = "okay";
			xlnx,ext-reset-high = <0>;
			clock-names = "slowest_sync_clk";
			xlnx,use-board-flow;
			xlnx,num-interconnect-aresetn = <1>;
			xlnx,aux-rst-width = <4>;
		};
		afi0: afi0 {
			status = "okay";
			compatible = "xlnx,afi-fpga";
			config-afi = < 0 0>, <1 0>, <2 0>, <3 0>, <4 0>, <5 0>, <6 0>, <7 0>, <8 0>, <9 0>, <10 0>, <11 0>, <12 0>, <13 0>, <14 0xa00>, <15 0x000>;
		};
		clocking0: clocking0 {
			compatible = "xlnx,fclk";
			assigned-clocks = <&zynqmp_clk 71>;
			assigned-clock-rates = <99990005>;
			#clock-cells = <0>;
			clock-output-names = "fabric_clk";
			clocks = <&zynqmp_clk 71>;
		};
		clocking1: clocking1 {
			compatible = "xlnx,fclk";
			assigned-clocks = <&zynqmp_clk 72>;
			assigned-clock-rates = <24997501>;
			#clock-cells = <0>;
			clock-output-names = "fabric_clk";
			clocks = <&zynqmp_clk 72>;
		};
		clocking2: clocking2 {
			compatible = "xlnx,fclk";
			assigned-clocks = <&zynqmp_clk 73>;
			assigned-clock-rates = <299970032>;
			#clock-cells = <0>;
			clock-output-names = "fabric_clk";
			clocks = <&zynqmp_clk 73>;
		};
		clocking3: clocking3 {
			compatible = "xlnx,fclk";
			assigned-clocks = <&zynqmp_clk 74>;
			assigned-clock-rates = <374962524>;
			#clock-cells = <0>;
			clock-output-names = "fabric_clk";
			clocks = <&zynqmp_clk 74>;
		};
		axi_intc_0: axi_intc@80020000 {
			#interrupt-cells = <2>;
			interrupts = < 0 89 4 >;
			xlnx,sense-of-irq-edge-type = "Rising";
			xlnx,kind-of-intr = <0x1>;
			xlnx,kind-of-edge = <0xFFFFFFFF>;
			xlnx,irq-is-level = <1>;
			xlnx,has-ivr = <1>;
			compatible = "xlnx,axi-intc-4.1" , "xlnx,xps-intc-1.00.a";
			xlnx,disable-synchronizers = <0>;
			xlnx,edk-special = "INTR_CTRL";
			xlnx,kind-of-lvl = <0xFFFFFFFF>;
			xlnx,ivar-reset-value = <0x00000000 0x00000010>;
			xlnx,irq-active = <0x1>;
			interrupt-parent = <&imux>;
			xlnx,rable = <0>;
			xlnx,en-cascade-mode = <0>;
			xlnx,ip-name = "axi_intc";
			xlnx,has-ilr = <0>;
			reg = <0x0 0x80020000 0x0 0x1000>;
			xlnx,addr-width = <0x20>;
			clocks = <&misc_clk_0>;
			xlnx,s-axi-aclk-freq-mhz = <0x4784b74>;
			xlnx,num-sw-intr = <0>;
			xlnx,irq-connection = <1>;
			xlnx,num-intr-inputs = <0x1>;
			xlnx,has-sie = <1>;
			xlnx,has-cie = <1>;
			xlnx,enable-async = <0>;
			xlnx,num-sync-ff = <2>;
			xlnx,mb-clk-not-connected = <1>;
			xlnx,has-ipr = <1>;
			xlnx,edk-iptype = "PERIPHERAL";
			xlnx,sense-of-irq-level-type = "Active_High";
			xlnx,cascade-master = <0>;
			xlnx,processor-clk-freq-mhz = <100>;
			status = "okay";
			xlnx,is-fast = <0x0>;
			clock-names = "s_axi_aclk";
			xlnx,has-fast = <0>;
			xlnx,ivar-rst-val = <0x0000000000000010>;
			interrupt-names = "irq";
			xlnx,async-intr = <0xFFFFFFFF>;
		};
	};
};
